/*Google fonts*/
@import url('https://fonts.googleapis.com/css?family=Zhi+Mang+Xing&display=swap');

.zhi{font-family: 'Zhi Mang Xing', cursive;}

@import url('https://fonts.googleapis.com/css?family=Satisfy&display=swap');
.satisfy{font-family: 'Satisfy', cursive;}

@import url('https://fonts.googleapis.com/css?family=Kalam&display=swap');
.kalam{font-family: 'Kalam', cursive;}

@import url('https://fonts.googleapis.com/css?family=Courgette&display=swap');
.courgette{font-family: 'Courgette', cursive;}

 
@import url('https://fonts.googleapis.com/css?family=Alegreya&display=swap');
.swap{font-family: 'Alegreya', serif;}

@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');
.lora{font-family: 'Lora', serif;}

@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
.lobstar{font-family: 'Lobster', cursive;}

@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');
.indie-flower{font-family: 'Indie Flower', cursive;}

@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
.pacifico{font-family: 'Pacifico', cursive;}

@import url('https://fonts.googleapis.com/css?family=Exo&display=swap');
.exo{font-family: 'Exo', sans-serif;}

@import url('https://fonts.googleapis.com/css?family=Exo+2:400,500,600,700,800&display=swap');
.exo2{font-family: 'Exo 2', sans-serif;}

@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700&display=swap');
.libre{font-family: 'Libre Baskerville', serif;}